footer {
    background-color: #161619;
    border-radius: 0 0 10px 10px;
    width: 317px;
    height: 64px;
}

.footer--socmed {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}